* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* Navigation styles */
.nav-bar {
  display: flex;
  background-color: black;
  height: 160px;
 
}
.mine {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 20%;
  margin: 0px;
  
}
.mine h1 {
  
  background-color: aquamarine;
}

.nav-links {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}


.avatar {
  width: 150px;
  height: 150px;
  border-radius: 90px;
}

.nav-links a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: aquamarine;
}
/* End Navigation styles */
/* Hero banner styles */
.subtitle-bar {
  display: flex;
  padding: 90px;
  background-image: url("../images/02-hero-bg.jpg");
  flex-direction:row-reverse;
     
}
.text {
  background: aquamarine;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px 40px;

}

/* END Hero banner styles */

/* Grid styles*/

.container {
  display: grid;
  background-color: bisque;
  grid-template-columns: 300px auto;
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  row-gap: 4rem;

  
  

}
.item {
  height: 100px;
  width: 400px;
  
  margin: 3px;
  padding: 100px;
  border-right: 4px solid black;
  margin-top: 40px;
  
  
}
.about-text {
  height: 100px;
  margin: 20px;
  padding: 100px;
  
  
}
#contact-links {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
}






