* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* Navigation styles */
.nav-bar {
  display: flex;
  background-color: black;
  height: 160px;
 
}
.mine {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 20%;
  margin: 0px;
  
}
.mine h1 {
  
  background-color: aquamarine;
}

.nav-links {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}


.avatar {
  width: 150px;
  height: 150px;
  border-radius: 90px;
}

.nav-links a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: aquamarine;
}
/* End Navigation styles */
/* Hero banner styles */
.subtitle-bar {
  display: flex;
  padding: 90px;
  background-image: url("../images/02-hero-bg.jpg");
  flex-direction:row-reverse;
     
}
.text {
  background: aquamarine;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px 40px;

}

/* END Hero banner styles */
/* About me section styles */
#about {
  display: flex;
  background-color: bisque;
  height: 250px;
  align-items: center;
  justify-content: flex-start;
}
#about h2 {
  margin: 30px;
  padding: 10px;
  
}
.aboutme-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 5px solid black;
  padding: 10px;
  
}

/* END About me section styles */

/*Work section style*/
#work{
  display: flex;
  background-color: bisque;
  justify-content: flex-start;
  align-items: center;
  
}
#work h2 {
  margin: 30px;
  padding: 10px;
  border-right: 5px solid black;
}

/*End Work section style*/

/* Project list styles  */

.project-lists {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  margin: 0px 10%;
  grid-template-areas:
  "surf surf"
  "ledwall calc"
  "puzzle runbuddy";

 
}
.project-lists .project:nth-child(1) img {
  width: 1000px;
  height: 800px;
  
}
.project img {
  width: 500px;
  
  height: 400px;
  
  
  
}

.project {
  position: relative;
  text-align: right;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  
}
.heading{
  position: absolute;
  background-color: aqua;
  bottom: 10px;
  right: 10px;
  
}


#project-1 {
  grid-area: surf;
  background-image: url(../images/02-portfolio-4.jpg);
  
  
  border: 4px solid aqua;
}
#project-2 {
  grid-area: ledwall;
  background-image: url(../images/02-portfolio-1.jpg);
  border: 4px solid aqua;
}
#project-3 {
  grid-area: calc;
  background-image: url(../images/02-portfolio-2.jpg);
  border: 4px solid aqua;
}
#project-4 {
  grid-area: puzzle;
  background-image: url(../images/02-portfolio-3.jpg);
  border: 4px solid aqua;
}
#project-5 {
  grid-area: runbuddy;
  background-image: url(../images/02-run-buddy.jpg);
  border: 4px solid aqua;
}
/* End Project list styles  */
/* Contact list styles  */
#contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: bisque;
  height: 100px;
  
}
#contact h2 {
  margin: 30px;
  padding: 10px;
  
}
.contact-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 5px solid black;
  

}
.contact-me a {
  padding: 20px 40px;
}

/* End contact list styles  */
/* Resume section styles  */
#resume {
  display: flex;
  background-color: bisque;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
}
#resume h2 {
  margin: 30px;
  padding: 10px;
}
.resumelink {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 5px solid black;
}
.resumelink p {
  padding: 20px 40px;
}





/* End Resume section styles  */

/* Media Queries styles  */
/* @media (max-width: 800px) {
  .nav-bar
  justify-content: space;
} */
/* End Media Queries styles  */









